# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# Get these from https://my.telegram.org/
API_KEY = "25836327"
API_HASH = "c7c332a013d7d51359c763b3c2e1a9a3"

# Get this value by running python3 string_session.py locally
STRING_SESSION = "1BJWap1sAUHtM-iNU6VTR-5cWb5LOUsAQ-ZBusCejlNlHSDuyeLNLhto6T7jnkfHSJr_uRDUbJPCeUak_VJamLzbJYwZ4r12cQGB8cfHcXn_4_gCv4Hrg_JdcRJl7Tf1mKTl4qreRmPwmK5fZ7m9o_mvmNEiZdnKb-p__5-Q5cbxPAK0WMS8Gvo_oSVATpYezj0I3TQ-pQePmAo_m3hRzAPPYqHLJQ7HLgqZyg_s99ZURBemelrGI1gomtuCEad_UjsnaLZ4W_eYJQlLDhIslOThkFd-LslQmthjy8ply0Cff3fOMN3-DDZzB6byVchhCHN2m6XJTlh7Wa6XFKL28nlX46LIHR9c="

# Set this to enable inline bot helper. get the token from @BotFather
BOT_TOKEN = "7902824033:AAF3ZlbucH_YpJ0skdtUYXZXnjJjx_KR0rE"
BOT_USERNAME = "ucellobot"

# ChatID for the Log group
# Add a Hypen or a Negative Sign before ID
# This is a integer, Please don't use Strings
BOTLOG_CHATID =-1002569508076 # this is an integer, please don't use quotes.

# Your Database URL
# Example: 'postgres://userbot:userbot@localhost:5432/userbot'
DATABASE_URL = "postgres://avnadmin:AVNS_FH5tthg1MEDEJOKZS2g@pg-3452d22e-dirgahomage-e009.k.aivencloud.com:22423/defaultdb?sslmode=require"

# PM Auto-Ban Feature Switch
PM_AUTO_BAN = False

